<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Offside detection</title>
</head>
<body>
  <main class="main">
    <aside class="sidebar">
      <nav class="nav">
          <ul class="active">
              <li><a href="{{ url_for('index')}}">New detection</a></li>
              <li><a href="{{url_for('about')}}">About</a></li>
          </ul>
      </nav>
    </aside>
    <section class="page">
      <div class="container">
          <h1 id="title"><a href="{{ url_for('index')}}">Offside detection</a></h1>
          <p>
              Upload a video or image of a football match and choose the attacking team's side.
          </p>
          <form method="POST" enctype="multipart/form-data" action="/interact.html">
              <p><input class="btn btn-lg btn-primary" type="file" id="myFile" name="uploaded-file"></input></p>
              <div class="btn-group" role="group" aria-label="Attacking side selection">
                <button class="btn btn-lg btn-primary" type="submit" name="side" value="left">Left</button>
                <button class="btn btn-lg btn-primary" type="submit" name="side" value="right">Right</button>
              </div>
              <p><button class="btn btn-lg btn-primary" type="submit">Get started</button></p>
          </form>
          </div>
    </section>
  </main>
</body>
</html>
